.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  padding-top: 10px;
  padding-bottom: 10px;

  color: white;
  z-index: 100;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.header img {
  max-width: 60px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}
.authIcon {
  font-size: 3rem !important;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 5.4vw;
  }
}
