@media (max-width: 576px) {
  .hide {
    display: none !important;
  }
  .appear {
    display: flex !important;
  }
}
@media (min-width: 576px) {
  .appear {
    display: none !important;
  }
  .sMenu {
    display: none !important;
  }
}
